@font-face {
  font-family: "iconfont"; /* Project id 1271142 */
  src: url('iconfont.woff2?t=1729746545725') format('woff2'),
       url('iconfont.woff?t=1729746545725') format('woff'),
       url('iconfont.ttf?t=1729746545725') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-circlemore:before {
  content: "\e76d";
}

.icon-user-facenormal:before {
  content: "\e61b";
}

.icon-social-star:before {
  content: "\e7df";
}

.icon-social-starfill:before {
  content: "\e86b";
}

.icon-user-faceid:before {
  content: "\e6c6";
}

.icon-device-monitor2:before {
  content: "\e618";
}

.icon-device-monitor4:before {
  content: "\ebc1";
}

.icon-user-facesmile:before {
  content: "\e737";
}

.icon-media:before {
  content: "\e6fb";
}

.icon-device-server:before {
  content: "\e70b";
}

.icon-device-recorder:before {
  content: "\ea93";
}

.icon-data-bug:before {
  content: "\eaa4";
}

.icon-device-route:before {
  content: "\e791";
}

.icon-device-firewall:before {
  content: "\e798";
}

.icon-device-signal:before {
  content: "\e609";
}

.icon-user-faceangry:before {
  content: "\ea17";
}

.icon-device-watch:before {
  content: "\e608";
}

.icon-file-pdf:before {
  content: "\e8e8";
}

.icon-media-stop:before {
  content: "\e7cc";
}

.icon-user-eyeoff:before {
  content: "\e615";
}

.icon-device-pcserver:before {
  content: "\eab4";
}

.icon-device-pc:before {
  content: "\e85f";
}

.icon-device-database:before {
  content: "\e637";
}

.icon-device-phoneon:before {
  content: "\e617";
}

.icon-device-snap:before {
  content: "\e63c";
}

.icon-device-phone:before {
  content: "\e86a";
}

.icon-media-pause:before {
  content: "\e7cb";
}

.icon-media-play:before {
  content: "\e6c8";
}

.icon-data-clock:before {
  content: "\e616";
}

.icon-data-search:before {
  content: "\e61a";
}

.icon-data-bind:before {
  content: "\e635";
}

.icon-data-bindoff:before {
  content: "\e639";
}

.icon-device-monitor:before {
  content: "\e68b";
}

.icon-device-mobile:before {
  content: "\e607";
}

.icon-file-web:before {
  content: "\e60d";
}

.icon-shop-service:before {
  content: "\e614";
}

.icon-device-pad:before {
  content: "\e679";
}

.icon-chart-arc:before {
  content: "\e697";
}

.icon-map-pinfill:before {
  content: "\e6a2";
}

.icon-map1:before {
  content: "\e648";
}

.icon-chart-radar:before {
  content: "\e7dc";
}

.icon-chart-scatter:before {
  content: "\e78e";
}

.icon-map-pins:before {
  content: "\e634";
}

.icon-chart-rose:before {
  content: "\e6a9";
}

.icon-chart-bubble:before {
  content: "\e93e";
}

.icon-map-snail:before {
  content: "\e876";
}

.icon-map-pin2:before {
  content: "\e632";
}

.icon-social-share:before {
  content: "\e65f";
}

.icon-data-undo:before {
  content: "\e6fa";
}

.icon-shop-crown:before {
  content: "\e60a";
}

.icon-map-locate:before {
  content: "\e8e1";
}

.icon-chart-pulse:before {
  content: "\e604";
}

.icon-map-pinslim:before {
  content: "\ea05";
}

.icon-chart-ring:before {
  content: "\e613";
}

.icon-chart-projection:before {
  content: "\e63e";
}

.icon-data-redo:before {
  content: "\ec6b";
}

.icon-map-global:before {
  content: "\e62a";
}

.icon-chart-pie:before {
  content: "\e673";
}

.icon-data-down:before {
  content: "\e601";
}

.icon-data-up:before {
  content: "\e603";
}

.icon-data-cloudup:before {
  content: "\e605";
}

.icon-data-clouddown:before {
  content: "\e633";
}

.icon-file-folder:before {
  content: "\e638";
}

.icon-data-edit:before {
  content: "\e60c";
}

.icon-data-pen:before {
  content: "\e691";
}

.icon-shield-check:before {
  content: "\e757";
}

.icon-shop-cart:before {
  content: "\e600";
}

.icon-shop-pay:before {
  content: "\ec68";
}

.icon-shop-money:before {
  content: "\e630";
}

.icon-shop-alipay:before {
  content: "\e636";
}

.icon-shop-paypal:before {
  content: "\e67b";
}

.icon-shop-van:before {
  content: "\e7b9";
}

.icon-shop-wechatpay:before {
  content: "\e7f3";
}

.icon-file-tag:before {
  content: "\e752";
}

.icon-file-excel:before {
  content: "\e6fe";
}

.icon-file-ppt:before {
  content: "\e701";
}

.icon-file-word:before {
  content: "\e702";
}

.icon-chart-line:before {
  content: "\e60b";
}

.icon-data-sortdown:before {
  content: "\e7c6";
}

.icon-data-sortup:before {
  content: "\e7c8";
}

.icon-data-switchv:before {
  content: "\e843";
}

.icon-data-switchh:before {
  content: "\ec6a";
}

.icon-device-network:before {
  content: "\e626";
}

.icon-users:before {
  content: "\e846";
}

.icon-device-wifi:before {
  content: "\e619";
}

.icon-user-key:before {
  content: "\e622";
}

.icon-math-divide:before {
  content: "\e63b";
}

.icon-circle-minus:before {
  content: "\e623";
}

.icon-map-navigator:before {
  content: "\e602";
}

.icon-math-minus:before {
  content: "\e700";
}

.icon-arrow-begin:before {
  content: "\e7c7";
}

.icon-arrow-end:before {
  content: "\e98b";
}

.icon-device-bell:before {
  content: "\e953";
}

.icon-circle-add:before {
  content: "\e980";
}

.icon-circle-ask:before {
  content: "\e981";
}

.icon-math-add:before {
  content: "\e982";
}

.icon-circle-arrow-up:before {
  content: "\e983";
}

.icon-arrow-down:before {
  content: "\e984";
}

.icon-arrow-up:before {
  content: "\e986";
}

.icon-arrow-double-left:before {
  content: "\e987";
}

.icon-circle-arrow-down:before {
  content: "\e988";
}

.icon-arrow-double-right:before {
  content: "\e98a";
}

.icon-circle-arrow-right:before {
  content: "\ec69";
}

.icon-circle-arrow-left:before {
  content: "\e952";
}

.icon-math-close:before {
  content: "\e955";
}

.icon-data-cloud:before {
  content: "\e956";
}

.icon-file-copy:before {
  content: "\e957";
}

.icon-circle-minus-fill:before {
  content: "\e958";
}

.icon-file-del:before {
  content: "\e959";
}

.icon-social-comment:before {
  content: "\e95b";
}

.icon-file-save:before {
  content: "\e95c";
}

.icon-data-date:before {
  content: "\e95e";
}

.icon-file:before {
  content: "\e960";
}

.icon-data-filter:before {
  content: "\e961";
}

.icon-social-heartfill:before {
  content: "\e962";
}

.icon-social-heart:before {
  content: "\e963";
}

.icon-file-image:before {
  content: "\e964";
}

.icon-map-layers:before {
  content: "\e965";
}

.icon-file-link:before {
  content: "\e966";
}

.icon-data-load:before {
  content: "\e967";
}

.icon-user-login:before {
  content: "\e968";
}

.icon-user-logout:before {
  content: "\e969";
}

.icon-user-mail:before {
  content: "\e96a";
}

.icon-arrow-sizeout:before {
  content: "\e96b";
}

.icon-device-microphone:before {
  content: "\e96c";
}

.icon-arrow-sizein:before {
  content: "\e96d";
}

.icon-data-more:before {
  content: "\e96f";
}

.icon-device-mouse:before {
  content: "\e970";
}

.icon-device-pin:before {
  content: "\e971";
}

.icon-file-plugin:before {
  content: "\e972";
}

.icon-device-power:before {
  content: "\e973";
}

.icon-device-gear:before {
  content: "\e975";
}

.icon-shield-warning:before {
  content: "\e976";
}

.icon-shield:before {
  content: "\e977";
}

.icon-shop:before {
  content: "\e978";
}

.icon-circle-success:before {
  content: "\e979";
}

.icon-social-thumbdown:before {
  content: "\e97a";
}

.icon-social-thumbup:before {
  content: "\e97b";
}

.icon-circle-info:before {
  content: "\e97c";
}

.icon-warning:before {
  content: "\e97d";
}

.icon-map-zoomin:before {
  content: "\e97e";
}

.icon-map-zoomout:before {
  content: "\e97f";
}

.icon-data-reload:before {
  content: "\e786";
}

.icon-social-message:before {
  content: "\e78a";
}

.icon-user-eye:before {
  content: "\e78f";
}

.icon-file-app:before {
  content: "\e792";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-chart-bar:before {
  content: "\e7af";
}

.icon-user-lock:before {
  content: "\e7c9";
}

.icon-user-scan:before {
  content: "\e7d4";
}

.icon-chart-barcode:before {
  content: "\e7d7";
}

.icon-device-camera:before {
  content: "\e7d8";
}

.icon-file-attachment:before {
  content: "\e7e1";
}

.icon-arrow-right:before {
  content: "\e7eb";
}

.icon-arrow-left:before {
  content: "\e7ec";
}

.icon-data-list:before {
  content: "\e7f4";
}

.icon-math-check:before {
  content: "\e7fc";
}

.icon-circle-stop:before {
  content: "\e842";
}

.icon-map-aim:before {
  content: "\e913";
}

